/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #FFF6F2;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;
}

.logo {
    color: #d47c90;
    font-size: 30px;
}

/* Nav Links */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #444;
    font-size: 18px;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #d47c90;
}

/* Home Section */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px 8%;
}

/* Text */
.home-text {
    width: 50%;
}

.home-text h3 {
    font-size: 28px;
}

.home-text h1 {
    font-size: 60px;
    color: #d47c90;
}

.home-text h2 {
    margin-top: 10px;
    font-size: 30px;
}

.home-text span {
    color: #d47c90;
}

.home-text p {
    margin-top: 20px;
    line-height: 1.8;
    color: gray;
}

/* Button */
.btn {
    margin-top: 20px;
    padding: 12px 25px;

    border: none;
    border-radius: 30px;

    background-color: #f0a8b8;
    color: white;

    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d47c90;
}

/* Image */
.home-image img {
    width: 350px;
    border-radius: 50%;
    border: 8px solid #f5ccd5;
}